@model IEnumerable<ServiceAndSeatManagement.Models.ViewModel.ServiceCategoryViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ServiceCategoryId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ServiceCategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MemberCounts)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceCategoryId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceCategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MemberCounts)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ServiceCategoryId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ServiceCategoryId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ServiceCategoryId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
