@model ServiceAndSeatManagement.Models.ViewModel.TemperatureViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>TemperatureViewModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MemberId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MemberId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WeekId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WeekId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ServiceCategoryId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ServiceCategoryId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TempuratureNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TempuratureNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CurrentDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VerifyId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VerifyId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TemperatureId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
