@model cloudscribe.Pagination.Models.PagedResult<ServiceAndSeatManagement.Models.Data.ServiceDBContext.Temperature>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

   

}

<h4>Today's temperature record list</h4>
<br />
<form>
    <div class="row">
        <div class="col">
            <input type="text" name="SearchString" class="form-control" value="" placeholder="Search by name"/>
        </div>
        <div class="col">
            <input type="submit" name="" value="Search" class="btn btn-info" />
            <a asp-action="Index">Cancel search</a>
        </div>
    </div>
</form>
<br />

<div class="row">
    <div class="col-10 text-center">
        <a style="margin:auto" asp-controller="Home" asp-action="Index">
            <h6><i class="fa fa-home text-dark"></i> Click to go back to Menu</h6>
        </a>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th hidden>
                Member ID
            </th>
            <th>
                Member name
            </th>
            <th>
                Service category
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewBag.TempSortOrderParam"> Temperature</a>
            </th>

            <th>
                Verification status
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Data)
        {
            
            <tr>
                <td hidden>
                    @Html.DisplayFor(modelItem => item.MemberId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Member.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ServiceCategory.ServiceCategoryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TempuratureNumber)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Verify.VerifyName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.TemperatureId" class="btn btn-warning">Edit</a>

                </td>
            </tr>

           
        }
    </tbody>
</table>


<cs-pager cs-paging-pagenumber="Model.PageNumber"
          cs-paging-totalitems="Model.TotalItems"
          cs-paging-pagesize="Model.PageSize"
          cs-pagenumber-param="pageNumber"
          asp-controller="membertemperature"
          asp-action="Index"
          cs-pager-li-current-class="page-item active"
          cs-pager-li-other-class="page-item"
          cs-pager-li-non-active-class="page-item disabled"
          cs-pager-link-current-class="page-link"
          cs-pager-link-other-class="page-link"></cs-pager>
