@model IEnumerable<ServiceAndSeatManagement.Models.ViewModel.TemperatureViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MemberId)
            </th>
            <th>
               @Html.DisplayNameFor(model => model.MemberName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ServiceCategoryId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TempuratureNumber)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.VerifyId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MemberId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MemberName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceCategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TempuratureNumber)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.VerifyName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TemperatureId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TemperatureId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TemperatureId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
