@model cloudscribe.Pagination.Models.PagedResult<ServiceAndSeatManagement.Models.Data.ServiceDBContext.DailyReport>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";


}

<div style="text-align:center">
    <h2>Daily report</h2>
    <p>Number of members that registered for each service for this sunday @DateTime.Now.ToLongDateString()</p>

</div>

<table class="table">
    <thead>
        <tr>
            @*<th>
                    S/No.
                </th>*@
            <th>
                Week No.
            </th>

            <th>
                1st Service
            </th>
            <th>
                2nd Service
            </th>
            <th>
                3rd Service
            </th>
            <th>
                Total
            </th>
            <th>
                Date
            </th>


            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Data)
        {
            <tr>
                @*<td>
                        @Html.DisplayFor(modelItem => item.ReportId)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.Week.WeekName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Service1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Service2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Service3)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Total)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CurrentDate)
                </td>


                @*<td >
                        <a asp-action="Edit" asp-route-id="@item.ReportId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.ReportId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.ReportId">Delete</a>
                    </td>*@
            </tr>
        }
    </tbody>
</table>

<cs-pager cs-paging-pagenumber="Model.PageNumber"
          cs-paging-totalitems="Model.TotalItems"
          cs-paging-pagesize="Model.PageSize"
          cs-pagenumber-param="pageNumber"
          asp-controller="membertemperature"
          asp-action="Index"
          cs-pager-li-current-class="page-item active"
          cs-pager-li-other-class="page-item"
          cs-pager-li-non-active-class="page-item disabled"
          cs-pager-link-current-class="page-link"
          cs-pager-link-other-class="page-link"></cs-pager>

<br />
<br />
<br />
<br />